@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";
@import 'flag-icon-css/css/flag-icons.min.css';

@theme {
  --font-roboto: "Roboto", sans-serif; 
  --font-poppins: "Poppins", sans-serif; 
  --font-righeteous: "Righteous", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-playfair: "Playfair Display", serif;
  --font-quicksand: "Quicksand", sans-serif;
  --color-chibi-green: #9bb60e ;
}

/* Ocultar scrollbar para Webkit (Chrome, Safari) */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Oculta la barra de desplazamiento */
}

/* Ocultar scrollbar para IE, Edge y Firefox */
.custom-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}



body {
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  width: 100%; /* Asegura que el cuerpo ocupe el 100% del ancho disponible */
}

/* Opcional, si el problema persiste, a veces se necesita en el html también */
html {
  overflow-x: hidden;
}


/* Keyframes para el deslizamiento horizontal */
@keyframes slide-infinite {
  from {
    transform: translateX(0%); /* Empieza en la posición original */
  }
  to {
    transform: translateX(-50%); /* Se desliza hasta la mitad de su contenido duplicado */
  }
}

/* Clase para aplicar la animación */
.animate-slide-infinite {
  animation: slide-infinite 60s linear infinite; /* 60s es la duración, puedes ajustarla */
  /* linear: velocidad constante
     infinite: se repite indefinidamente */
}

/* Ocultar la barra de desplazamiento si no quieres que se vea */
.custom-scrollbar::-webkit-scrollbar {
  display: none; /* Para Webkit (Chrome, Safari) */
}

.custom-scrollbar {
  -ms-overflow-style: none; /* Para IE y Edge */
  scrollbar-width: none; /* Para Firefox */
}

@keyframes shake {
  0%, 100% { transform: translateX(0); }
  10%, 30%, 50%, 70%, 90% { transform: translateX(-5px); }
  20%, 40%, 60%, 80% { transform: translateX(5px); }
}

.animate-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
}